<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
 <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head> 
 <body>
<div class="container" >
	<section>
		<div >
			<div class="row">
				<div class="col-md-12 col-sm-9">
					<div class="panel panel-default" style="border: 2px solid #07a6aa">
						<div class="panel-heading"
							 style="border: #07a6aa ;height: 39px; color: #fff; background-color: #07a6aa;font-weight: bold">
							{{isalredyChatGroup[0].adminName}}
						</div>
						<div > 
							<!-- <div style="col col-md-8">pravin dagde</div> -->
							<!-- ng-if="!createdGroup.data[0]" -->
							<div ng-if="!loginAdmin" ng-click="gotoLogin()" class="btn top-right-btn btn-default btn-lg btn-custom-lg col-md-2" style="text-align:center">+</div>

						<!-- 	<div ng-if="createdGroup.data[0] && !loginUserInfo" class="btn top-right-btn btn-default btn-lg btn-custom-lg col-md-2" style="text-align:center"  data-toggle="modal" data-target="#openfromlogin" >+</div> -->

							
						</div>
							<table class="table table-bordered table-condensed table-striped" >
								<div class="wrapper_date"> pravin dagde</div>
								<div>
									<div>
									<tr style="background-color: aliceblue" ng-repeat = "onechat in allBuffurMessages" style="height: 40px;
								    width: 200px;
								    overflow-x:scroll;">
										<td style="text-align: center">
												<div class="col col-md-12">
											<!-- <div >
												<img ng-src="https://res.cloudinary.com/djwmqlqrk/image/upload/v1520842433/bdu9qjgytcyke1gfvjhb.jpg">
											</div> -->

											<div class="col-md-2" class="imgcontainerChatmessage">
									      <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
									      <img ng-if="onechat.membarProfile" src="{{onechat.membarProfile}}" alt="Avatar" class="avatar">
									      <img ng-if="!onechat.membarProfile" src="https://www.tenforums.com/geek/gars/images/2/types/thumb_User_Accounts.png" alt="Avatar" class="avatar">
									      
									    </div>

											<div class="col-md-8" >
												<div style="text-align:left">

													<label >
														{{onechat.menbarName}}
													</label>

												</div>
												<div>{{onechat.messageContaint}}
												</div>
											</div>
											<div class="col-md-2">{{onechat.messageTime}}</div>
										</div>

										</td>
									</tr>
								</div>
								</div>
							</table>
						

							<div ng-if="loginAdmin" class="user-port-prog-wrapper" ng-if="isalredyChatGroup[0]">
			 					<!-- <div > -->
			 						<div class="col-md-12" nd-show="true" >
			 							<div class="col-sm-10">
			 								<input class="user-img-upload-head-wrapper" ng-model="message.sendTextmessage" style="width: 120%;margin-top: -25px;">
			 							</div>
			 							<div class="col-offset-2 col-md-2">
			 								<button ng-click="sendmessage()">send</button>
			 							</div>
			 							
			 						 </div>

			 						
			 						
			 					<!-- </div> -->
							</div>


					</div>
				</div>
			</div>

		</div>

	</section>					
</div>

</body>
</html>
