<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>


<div class="container" >
	<section>
		<div >
			<div class="row">
				<div class="col-md-12 col-sm-9">
					<div class="panel panel-default" style="border: 2px solid #07a6aa">
						<div class="panel-heading"
							 style="border: #07a6aa ;height: 39px; color: #fff; background-color: #07a6aa;font-weight: bold">
							Pravin Dagde
						</div>
						<div style="background-color: blue"> 
							<div style="col col-md-8">pravin dagde</div>
							<div class="btn top-right-btn btn-default btn-lg btn-custom-lg col-md-2" style="text-align:center"  data-toggle="modal" data-target="#openfrombegining" >+</div>
						</div>
							<table class="table table-bordered table-condensed table-striped" >
								<div style="background-color: red"> pravin dagde</div>
								<div>
									<tr style="background-color: aliceblue" ng-repeat = "pizza in allPizza" style="height: 40px;
								    width: 200px;
								    overflow-x:scroll;">
										<td style="text-align: center">
												<div class="col col-md-12">
											<!-- <div >
												<img ng-src="https://res.cloudinary.com/djwmqlqrk/image/upload/v1520842433/bdu9qjgytcyke1gfvjhb.jpg">
											</div> -->

											<div class="col-md-2" class="imgcontainerChatmessage">
									      <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
									      <img src="https://res.cloudinary.com/djwmqlqrk/image/upload/v1520842433/bdu9qjgytcyke1gfvjhb.jpg" alt="Avatar" class="avatar">
									    </div>

											<div class="col-md-8" >
												<div style="text-align:left">

													<label >
														Pravin Laxman Dagde
													</label>

												</div>
												<div>The best practice is 
												</div>
											</div>
											<div class="col-md-2">10:10</div>
										</div>

										</td>
									</tr>
								</div>
							</table>
						
					</div>
				</div>
			</div>
		</div>


<!-- https://res.cloudinary.com/djwmqlqrk/image/upload/v1520842433/bdu9qjgytcyke1gfvjhb.jpg -->

	</section>



								<div id="openfrombegining" class="modal fade">
									 <form class="modal-content animate"  >
									    <div class="imgcontainer">
									      <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
									      <img src="https://res.cloudinary.com/djwmqlqrk/image/upload/v1520842433/bdu9qjgytcyke1gfvjhb.jpg" alt="Avatar" class="avatar">
									    </div>

									    <div class="container">
									    	<div class="row">
									    	<div  class="col-md-12">
									    		<label for="uname"><b>Chatting Topics</b></label>
									      <input type="text" placeholder="Enter Chatting Topics" name="uname" required>
									  </div>
									      	 
											      <div class="col-md-6">
											      	   <label for="uname"><b>Username</b></label>
											      <input type="text" placeholder="Enter Username" name="uname" required>
											      </div>	
											     
											      <div class="col-md-6">
											      	<label for="psw"><b>Email</b></label>
											      <input type="password" placeholder="Enter Email" name="psw" required>
											      </div>
									        
									        
									     <!--  <button type="submit">Login</button>
									      <label>
									        <input type="checkbox" checked="checked" name="remember"> Remember me
									      </label> -->
									  </div>
									    </div>

									    <div class="container" >
									      <button type="submit" >Login</button>
									      
									    </div>
                                     </form>
 
								</div>
</div>


